# Fichiers générés par Android Studio
*.iml
.gradle/
build/
captures/
bin/
gen/
local.properties

# Fichiers de configuration IDE
.idea/
*.hprof

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers APK ou temporaires
*.apk
*.ap_ 
*.log

# Clés et secrets
*.keystore
*.jks

# Autres fichiers temporaires
*.tmp
*.swp
*.bak
